.bookmarks-container {
	padding: 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

app-bookmarks {
	width: 15%;
}

.add-container {
	display: flex;
	flex-direction: column;
	padding: .5rem;
	border-radius: 8px;
	border: 6px dashed #222;
	width: 14rem;
	height: 20rem;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	cursor: pointer;
}

.add-container:hover {
	animation: pulsate .75s linear infinite;
	background-color: #333;
}

@keyframes pulsate {
	0%   { box-shadow: 0 0 2px rgb(192, 192, 0); }
	50%  { box-shadow: 0 0 8px rgb(192, 192, 0); }
	100% { box-shadow: 0 0 2px rgb(192, 192, 0); }
}

.add-container > * {
	padding: 8px;
}