.editable {
	display: flex;
	flex-direction: column;
	padding: .5rem;
	border-radius: 8px;
	border: 6px dashed #222;
	width: 14rem;
	height: 20rem;
	color: #999;
}

.top-form-content {
	display: grid;
	grid-template-columns: 80% 20%;
	align-items: center;
}

ul {
	list-style: none;
	padding-left: 0px;
}

ul li {
	display: flex;
}

.link-data {
	padding-left: 8px;
	flex: 9;
	cursor: pointer;
}

.link-delete {
	flex: 1;
	cursor: pointer;
	color: red;
}

a,
a:visited {
	color: #AAA;
	padding-left: 0px;
	transition: padding-left 50ms ease-in-out;
}

a:hover {
	color: #888;
	padding-left: 4px;
	transition: padding-left 50ms ease-in-out;
}

.red {
	color: #E44;
}

.green {
	color: #4E4;
}

.blue {
	color: #44E;
}

.purple {
	color: #E4E;
}

.cyan {
	color: #4EE;
}

.yellow {
	color: #EE4;
}

.white {
	color: #EEE;
}